<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </head>
    <body>

        <div class="ui container">
            <br>
            <div class="ui segment">
                <h3 class="ui header">Introduction</h3>
                <p>The URL Shortener project is a versatile tool designed to convert long URLs into shorter, more manageable links. It aims to provide users with a seamless experience in managing and sharing URLs, whether for personal use or business needs. The project emphasizes simplicity, security, and efficiency, making it an ideal solution for anyone looking to streamline their online presence.</p>
            </div>
            <div class="ui segment">
                <h3 class="ui header">Features</h3>
                <ol class="ui list">
                    <li><strong>URL Shortening</strong>: Converts long URLs into short, easy-to-share links.</li>
                    <li><strong>QR Code Generation</strong>: Generates QR codes for shortened URLs, which can be displayed on the screen or downloaded as base64 images.</li>
                    <li><strong>API Access</strong>: Provides a FastAPI-based API for programmatic access to URL shortening features.</li>
                    <li><strong>URL Safety Check</strong>: Automatically checks the destination URL for security risks, such as malware or phishing, and warns users to ensure safe access through the short URL.</li>
                </ol>
            </div>
            <div class="ui segment">
                <h3 class="ui header">Funding</h3>
                <p>This project received funding from National Telecom in 2024, which has been instrumental in supporting its development and implementation.</p>
            </div>

            <div class="ui segment">
                <h3 class="ui header">Contact Us</h3>
                <p>If you have any questions, feedback, or need assistance with the URL Shortener project, our team is here to help. Feel free to reach out to us through our support channels. We are committed to providing you with the best experience and ensuring your needs are met.</p>
                <p>For more information, please visit our support page or contact us directly at kaebmoo@gmail.com. </p>
                <p>We're looking forward to hearing from you!</p>
            </div>

        </div>
    </body>
</html>
